* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Assicura che il contenuto sia centrato verticalmente */

    background-color: black;
}

/* Definizione stile delle Immagini */

#img1 {
    width: 600px;
    height: 120px;

    display: flex;
    justify-content: center;
}

#img2 {
    width: 300px;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 55px;

    display: flex;
    justify-content: center;
}

#img3 {
    width: 400px;
    height: 100px;

    display: flex;
    justify-content: center;
}

/* Media Query per dispositivi con larghezza max 768px */
@media (max-width: 768px) {
    #img1 {
        width: 80%; /* Larghezza adattabile */
        height: auto; /* Mantieni le proporzioni */
    }

    #img2 {
        width: 60%;
        height: auto;
        margin: 15px 0;
    }

    #img3 {
        width: 80%; /* Adatta la larghezza per dispositivi pi첫 piccoli */
        height: auto; /* Mantieni le proporzioni */
        margin: 0 auto; /* Centra l'immagine orizzontalmente */
        display: block; /* Assicura che sia un elemento a blocco */
    }
}

/* Media Query per dispositivi pi첫 piccoli (max 480px) */
@media (max-width: 480px) {
    #img1 {
        width: 90%; /* Ancora pi첫 adattabile */
        height: auto;
    }

    #img2 {
        width: 80%;
        height: auto;
        margin: 10px 0;
    }

    #img3 {
        width: 90%; /* Ancora pi첫 flessibile per smartphone */
        height: auto;
        margin: 0 auto; /* Centra l'immagine orizzontalmente */
        display: block;
    }
}
